<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>users</title>
</head>

<body>
<div th:align="center" class="tg">
  <h2>Users</h2>
  <br/>
  <h3><a href="/users/newUser.html">new User</a></h3>
  <br/>
  <table cellspacing="5" cellpadding="10" border="1" width="50%">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>SURNAME</th>
      <th>YEAR</th>
      <th>EDIT</th>

    </tr>
    <tr th:each="user : ${listUsers}">
      <td th:text="${user.id}">ID</td>
      <td th:text="${user.name}">NAME</td>
      <td th:text="${user.surname}">SURNAME</td>
      <td th:text="${user.year}">YEAR</td>
      <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">EDIT</a></td>
    </tr>
  </table>
</div>
</body>
</html>